.wrapper{
  color: rgb(0, 0, 0);
  background-color: transparent;
  width: 100%;
  border: none;
  outline: none;
}

.loginBtn:hover{
  transition-duration: 0.5s;
  background-color: rgb(231, 144, 128);
  color: var(--primary);
}

.loginBtn{
  padding:0 5%;
  height: 52px;
  border: 2px solid #fff;
  box-shadow: none!important;
  border-radius: 30px;
  width: auto;
  padding: 0 40px;
  line-height: 50px;
  transition: all .25s ease-in-out;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.4rem;
  font-family: Ubuntu,sans-serif;
  text-decoration: none;
  letter-spacing: 2px;
}

.disabled{
  pointer-events: none;
  opacity: 50%;
  
}

.icon + .title,
.title + .icon
{
  margin-left: 8px;
}

.guideBtn{
  white-space: nowrap;
  padding: 5px;
  margin: 10px;
  font-size: 1vw;
  background-color: transparent;
  color: var(--black);
  border: 2px solid black;

  &:hover {
    background-color: var(--primary);
  }
}

.menuItem{
  display: flex;
  color: var(--black);
  font-weight: bold;
  background-color: transparent;
  overflow: hiden;
  padding: 3px;
  
  span{
    font-size: 18px;
  }

  &:hover{
    background-color: rgb(212, 212, 212);
   
  }
  .icon{
    width: 15%;
  }

}





