@import 'normalize.css';


:root {
    --primary: yellow;
    --margin-left-right: 13%;
    --white: white;
    --black: black;

    //Default-layout:

    --default-space: 50px;
}

@font-face {
    font-family: "NetflixSans" ;
    src: url("../../assets/fonts/netflixFont/KFOlCnqEu92Fr1MmEU9fABc4AMP6lbBP.woff2");
    font-weight: normal;
}

html{
   font-family: NetflixSans;
   scroll-behavior: smooth;
}


*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


body{
    line-height: 1.5;
   
}

button,a{
    background-color: white ;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

