.wrapper{
    height: 472.66px;
    width: 100%;
    padding: 25px;
    box-shadow: 0 2px 10px rgb(0 0 0 / 10%);
    flex-basis: 25%;
    overflow-y: auto;
    scroll-behavior: auto;
    margin-right: var(--default-space);
    z-index: 1;
   
}
.wrapper::-webkit-scrollbar {
        border-radius: 0;
        width: 8px;
    }

.wrapper::-webkit-scrollbar-thumb:hover {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.2);
}

.wrapper::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}


.filter{
    display: block;  
}

.info{
    font-size: larger;
    color: cadetblue;
    text-align: left;
}

.keywords{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    transition: all .25s linear;
    margin: 10%;
    list-style-type: none;
   
}

.keyword{
    display: list-item;
    width: auto!important;
    padding: 4.5px 3px;
    cursor: pointer;

    span{
        border: 1px solid #ddd;
        padding: 2px 14px;
        border-radius: 4px;
    }
}

