.wrapper{
    width: 100%;
    height: fit-content;
    background-color: white;
    border: 1px solid rgb(214, 202, 202);
    border-radius: 4px;
    min-height: 90px;
    white-space: nowrap;
    overflow-y: overlay;
    overflow-x: hidden;
    // overflow: auto;
}


