.header {
  --margin-navbar-item: 10px;
  height: 72px;
  box-shadow: 0 2px 10px rgb(0 0 0 / 10%);  
  width: 100%;
  display: block;
  position: fixed;
  top: 0;
  padding: 5px;
  z-index: 100;
  background-color: transparent;
  // transition: background-color .5s linear,top .25s linear;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between !important;
  align-content: center !important;
  margin-left: var(--margin-left-right);
  margin-right: var(--margin-left-right);
}

.logo {
  width: 70px;
  object-fit: cover;
  justify-items: flex-start;
  height: 100%;
  background-color: transparent;
}

.search-space {
  width: 100%;
  height: 100%;
  padding-top: 5px;
  margin: auto 20px;
}

.navbar {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.active-navbar {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-content: center;
  margin-right: var(--margin-navbar-item);
}

.actions {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.active-navbar a {
  margin: auto 0;
  font-size: 20px;
  padding: 0 10px;
  
}

.active-navbar a:hover {
  color: red;
}

.header-actions {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;

  
}

.avatar-user {
  height: 100%;
  width: 52px;
  img {
    display: block;
    width: 100%;
    max-height: 100%;
    border-radius: 50%;
  }
}
